.card {
  background: var(--color-surface);
  width: 100%;
  min-height: 555px;
  max-width: 345px; // mantém proporção original

  border-radius: var(--radius-md);
  overflow: hidden;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition:
    transform 140ms ease,
    background-color 140ms ease,
    border-color 140ms ease;

  &:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.1);
  }
}

.imageWrapper {
  width: 100%;
  max-width: 296px;
  aspect-ratio: 296 / 258; // mantém proporção do frame
  border-radius: var(--radius-md);
  background: #22232c;
  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 52px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
}

.description {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 6px;
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.price {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-size: 20px;
  font-weight: 600;

  color: #f0f0f0;

  span {
    white-space: nowrap;
  }
}

.buyButton {
  margin-top: 10px;
  height: 66px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}
