.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  z-index: 50;
}

.drawer {
  width: 679px;
  height: 100%;
  background: var(--color-bg);
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  padding: 18px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vh;
  padding-left: 24px;
  padding-right: 24px;
}

.backButton {
  height: 60px;
  width: 60px;
  border-radius: 999px;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  color: var(--color-white);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0%;
}

.headerSpacer {
  width: 40px;
  height: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemCard {
  display: flex;
  flex-direction: row;
  gap: 31px;
  padding: 17px 30px;
  border-radius: var(--radius-md);
  background: rgba(43, 43, 43, 1);
}

.thumb {
  width: 161px;
  height: 161px;
  border-radius: var(--radius-md);
  overflow: hidden;
  background: rgba(34, 35, 44, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
}

.itemName {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.itemDesc {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  color: rgba(204, 204, 204, 1);
}

.priceRow {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;

  span {
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    color: rgba(240, 240, 240, 1);
  }
}

.qty {
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-md);
  justify-content: space-between;
  padding: 8px 12px;
  width: 115px;
  height: 49px;

  button {
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 14px;
  }

  span {
    min-width: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
  }
}

.trash {
  height: 43px;
  width: 43px;
  border-radius: 999px;
  border: none;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  display: inline-flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.totalRow {
  margin-top: 10px;
  padding: 48px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalLabel {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.totalValue {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 24px;
  color: rgba(240, 240, 240, 1);
}
