services:
  web:
    container_name: startsoft-challenge-web
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=development
      # Em alguns ambientes o HMR precisa disso:
      - WATCHPACK_POLLING=true
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
