.footer {
  width: 100%;
  padding: 28px 20px 36px;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.44);
  text-align: center;
}
