.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  background: var(--color-bg);
}

.inner {
  max-width: 100%;
  margin: 0;
  padding: 26px 42px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: inline-flex;
  align-items: center;
}

.cartButton {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.cartCount {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  position: relative;
  top: 4px;
}
